.ball{
    border: 1px solid black;
    border-radius: 50%;
    background: tomato;
    width: 60px;
    height: 60px;
    margin: 15px;
    
}

.ball {
    text-align: center;
    font-size: large;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 0.75em;
    margin-right: 0.5em;
    height: 2.25em;
    width: 3em;
}